.body{
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}
.connexion .debut{
    text-align: center;
    margin-bottom: 15px;
}
.connexion .debut h1{
    font-size: 25px;
    color: #F29100;
    margin-bottom: 5px;
}
.connexion .debut p{
    font-size: 12px;
}
.connexion .debut img{
    height : 60px;
}
.connexion  h2{
    font-size: 15px;
    font-style: italic;
    color: #2E86AB;
    font-weight: bold;

}
.connexion {
    background: #ffffff;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
}
.connexion label[for="email"],
.connexion label[for="mdp"]{
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom: 4px;
    font-size: 11px;
}
.connexion input[type="email"],
.connexion input[type="password"] {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 10px;
    transition: all 0.3s;
}
.connexion input[type="email"]:focus,
.connexion input[type="password"]:focus {
    border-color:#F29100;
    outline: none;
    box-shadow: 0 0 8px rgba(119, 85, 53, 0.4);
}
.connexion button {
    width: 100%;
    padding: 10px;
    background-color:#2E86AB;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.connexion button:hover {
    background-color:#bc7e21;
}